//Fuente Principal
$fuentePrincipal : 'Montserrat', sans-serif;

//Paleta de Colores
$principal : #0b2246;
$secundario : #d4cfcf;
$principal2 : #352bc4;
$secundario2 :#3b619a;
$negro : #000;
$blanco : #fff;


//Tamaños de Media Queries
$telefono: 480px;
$tablet: 880px;
$desktop:992px;
$desktopxl: 1200px;

