@use './base/variables' as v;
@use './base/globales' as g;
@use './base/mixins' as m;

//Estilos Navegación

.encabezado {
    display: flex;
    height: 16rem;
    flex-direction: row;
    justify-content: space-between;

    .logoflex, .navegacion_git {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icono {
        max-width: 20rem;
        max-height: 15rem;
        //padding-top: 2rem;        
    }

    .GitHub {
        background: linear-gradient(v.$secundario, v.$secundario2); 
        //padding: 1rem;
        color: white;
        font-size: 1.1rem;
    }

    a {
        display: block;
        justify-content: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: normal; 
        color: v.$principal;
        border-radius: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;            
    }
    a:hover {
        //background-color: v.$secundario2;
        color: v.$secundario;
        transition: 250ms;
    }

    @include m.tablet {
        .navegacion {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; 
            gap: 2rem;
        }       
        .icono {
            max-width: 20rem;
            max-height: 15rem;
            //padding-top: 2rem;        
        }
        .GitHub {
            background: linear-gradient(v.$secundario, v.$secundario2); 
            //padding: 1.5rem;
            color: white;
            font-size: 1.5rem;            
        }
    }
}