@use './base/variables' as v;
@use './base/globales' as g;
@use './base/mixins' as m;


h2 {
    padding-top: 2rem;
    text-align: center;
    margin: 0;
    color: v.$secundario2;
    text-shadow: 1px 0px 3px v.$principal;
}
.servicio {
    padding-top: 1.5rem;
    text-align: left;
    h2 {
        text-align: center;
        margin: 0;
        color: v.$secundario2;
        text-shadow: 1px 0px 3px v.$principal;
    }
    @include m.tablet {       
        h2 {
            text-align: left;
            padding-top: 1rem;
        }
    }
}

.footer {
    padding-top: 2rem;
    p {
        font-size: 1rem;        
    }
}
